/* LOGO PERIER */
body:after {
  background-image: url(../../img/perier.png);
  background-size: 300px 300px;
  background-color: inherit;
  width: 300px;
  height: 300px;
  content: "";
  position: fixed;
  top: 50px;
  left: 3.5em;
  border-radius: 150px;
  box-shadow: 12px 8px 10px var(--bordure-claire);
}